<!-- HOME PAGE-->

<!DOCTYPE html>
<html lang="en">

<!--Header-->

  <div class="container">
    <div class="jumbotron">
      <h1>The Giant Universe.</h1> 
      <p>Do you ever stop and wonder how significant Earth really is compared to the rest of the universe?</p> 
      <button type="button" class="btn btn-outline-info">
        <a href="https://www.youtube.com/watch?v=1Eh5BpSnBBw" target="_blank">Blow your mind.</a>
      </button>
      <br />
      <p>What's your favorite planet?</p>
      <div class="btn btn-outline-info">
        <%= link_to 'New Planet', new_planet_path %>
      </div>
      <br />
      <br />
    </div>
  </div>
  <br /> <br />

  <% @planets.each do |planet| %>
    <div class="booyah-box col-10 offset-1">
      <h3><%= planet.name %></h1>
      <i><%= planet.description %></i>
    </div>
    <br />
  <% end %>

  <br /><br /><br/><br /><br /><br/>

</html>